*{
  margin: 0;
  padding:0;
  vertical-align: top;
  font-family: 'Kristi';
}
body{
  background: #111;
  align-items: center;
}

h1{
	font-size: 3.5rem;
  font-family: 'Atomic Age';;
	margin:0;
  margin-top: -0.3rem;
	margin-left: 0;
  color: white;
  text-decoration: none;
}
h2{
	font-size: 1.2rem;
	font-family: 'Syncopate';
	text-align: left;
  margin-left: 2%;
	margin-top: -0.7rem;
  color: white;
  text-decoration: none;
}

#aboutme{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: left;
  max-width: 1600px;
}
#aboutme img{
  float: left;
  width: 30%;
  margin:1%;
  margin-top: 0;
}
h3{
  display: inline;
  font-size: 1.8rem;
  font-family: 'Syncopate';
  text-align: left;
  color: teal;
}
p{
  margin-top: 1rem;
  font-size: 1.5rem;
  color: white;
}

a{
    font-family: 'Syncopate';
    text-decoration: none;
}
a#selected{
  background-color: #111;
}

#navbar{
  display: block;
  background: #333;
  color: white;
  height: 6rem;
  font-size: 0px;
}
#logo{
  width: 5%;
  display: inline-block;
  background-color: white;
  height: 6rem;
}
#nametitle{
  width: 45%;
  display: inline-block;
  padding-top: 0.75rem;
  text-align: left;
  font-size: 0;
}
nav{
  width: 50%;
  text-align: right;
  display: inline-block;
  font-size: 0;
  height:100%;
}

#navbar ul {
	width:70%;
    list-style-type: none;
    margin: 0;
    padding-left: 30%;
    margin-top: 2.5rem;
    overflow: hidden;
    display: block;
    font-size: 0;
    text-align: right;
}

#navbar li {
    float: right;
    width: 25%;
    height:5rem;
    max-width:12rem;
    padding-left: 0%;
    font-size: 0;
    text-align: center;
    display: inline-block;
}

nav a {
	width: 20%;
	font-size: 1.2vw;
    display: inline-flex;
    flex-direction:   column;
    justify-content:  center;
    color: white;
    text-align: center;
    height:100%;
    text-decoration: none;
    background-color: #333;
}

nav a:hover {
    background-color: #222;
}

.gallery{
  width: 100%;
  font-size: 0;
}
.gallery a{
  min-height: 1800px;
  width: 32.3%;
  padding-right:0.5%;
  padding-left: 0.5%;
  padding-top: 1%;
  text-align:center;
  line-height: 1800px;
  vertical-align: middle;
  display: inline-flex;
  flex-direction: column;
  justify-content:  center;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: content-box;]
  font-size:  0.8vw;
  font-family: 'Syncopate';
  color:white;
  text-shadow: 1px 1px 2px black, 1px 1px 5px black, 1px 1px 8px black;
}

#project1{
  background-image:url("../img/bitmap1_300x250_1x.jpg");
}
#project1:hover{
  background-image: url("../img/bitmap1_300x250_1x.jpg");
}

@media screen and (max-height: 3000px){
	.gallery a{
	  min-height: 1200px;
	  line-height: 1200px;
	  text-decoration: none;
	  font-size: 3vw;
	}
}
@media screen and (max-height: 2000px){
	.gallery a{
	  min-height: 800px;
	  line-height: 800px;

	}
}
@media screen and (max-height: 1500px){
	.gallery a{
	  min-height: 600px;
	  line-height: 600px;

	}
}
@media screen and (max-height: 1100px){
	.gallery a{
	  min-height: 450px;
	    line-height: 450px;

	}
}
@media screen and (max-height: 720px){
	.gallery a{
	  min-height: 400px;
	   line-height: 400px;

	}
}

@media screen and (orientation: portrait) and (max-width: 1600px){

  .gallery a{
    width: 49%;
    font-size:  6vw;
    }
  #navbar li a {
  }
}
@media screen and (orientation:portrait) and (max-aspect-ratio:8/10){

	#navbar{
		height:20%;
    top:0;
    position: fixed;
    width: 100%;
	}
  .gallery{
    margin-top: 25vw;
  }
	.gallery a{
		width: 100%;
    font-size:  10vw;

	}
	#nametitle{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
		width: 70%;
		height: 100%;
    padding: 0;
	}
  h1{
    font-size: 11vw;
  }
  h2{
    font-size: 5.5vw;
  }
	#logo{
		display: none;

	}
  .icon{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    font-size: 6vh;
    color: white;
    text-decoration: none;
    height:100%;
    width: 20%;
    line-height: 100%;
    text-align: center;
  }
  .icon:hover{
    background-color: #222;
  }
	nav{
		display: none;
    height:100%;
	}
  #navbar.responsive nav{
    height: 80%;
    width:100%;
    position: fixed;
    left: 0;
    top:20%;
    display:block;
    background-color: #333;
  }
  #navbar.responsive nav a{
    display:flex;
    justify-content: center;
    flex-direction: column;
    flex:1;
    padding-left: 10%;
    width: 100%;
    height: 20%;
    font-size: 11vw;
    text-align: left;
  }

}
