*{
  margin: 0;
  padding:0;
  vertical-align: top;
  //font-size: 0;
}
body{
  background: #111;
}

h1{
	font-size: 3rem;
	font:verdana;
	padding:0;
	margin:0;
	margin-left: 1%;
}
h2{
	font-size: 1.5rem;
	font: verdana;
	text-align: left;
	padding-left: 4%;
	margin-top: -0.5rem;
}

#navbar{
  display: block;
  background: #333;
  color: white;
  height: 6rem;
  font-size: 0px;
}
#logo{
  width: 5%;
  display: inline-block;
  background-color: white;
  height: 6rem;
}
#nametitle{
  width: 35%;
  display: inline-block;
  padding-top: 0.75rem;
  text-align: left;
  font-size: 0;
}
nav{
  width: 60%;
  text-align: right;
  display: inline-block;
  font-size: 0;
}

#navbar ul {
	width:70%;
    list-style-type: none;
    margin: 0;
    padding-left: 30%;
    margin-top: 2.5rem;
    overflow: hidden;
    display: block;
    font-size: 0;
    text-align: right;
}

#navbar li {
    float: right;
    width: 25%;
    height:5rem;
    max-width:12rem;
    padding-left: 0%;
    font-size: 0;
    text-align: center;
    display: inline-block;
}

nav a {
	width: 20%;
	font-size: 1rem;
    display: inline-block;
    color: white;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.4rem;
    text-decoration: none;
    background-color: #333;
}

nav a:hover {
    background-color: #111;
}

/*.icon{
	display: none;
}*/
.gallery{
  width: 100%;
  font-size: 0;
}
.gallery a{
  min-height: 1800px;
  width: 33.3%;
  text-align:center;
  line-height: 1800px;
  vertical-align: middle;
  padding-top: 0.2rem;
  display: inline-block;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: content-box;

  color:white;
  text-shadow: 1px 1px 2px black, 1px 1px 5px black, 1px 1px 8px black;
}

#project1{
  background-image:url("../img/bitmap1_300x250_1x.jpg");
}
#project1:hover{
  background-image: url();
}

@media screen and (max-height: 3000px){
	.gallery a{
	  min-height: 1200px;
	  line-height: 1200px;
	  text-decoration: none;
	  font-size: 3rem;
	}
}
@media screen and (max-height: 2000px){
	.gallery a{
	  min-height: 800px;
	  line-height: 800px;

	}
}
@media screen and (max-height: 1500px){
	.gallery a{
	  min-height: 600px;
	  line-height: 600px;

	}
}
@media screen and (max-height: 1100px){
	.gallery a{
	  min-height: 450px;
	    line-height: 450px;

	}
}
@media screen and (max-height: 720px){
	.gallery a{
	  min-height: 400px;
	   line-height: 400px;

	}
}

@media screen and (orientation: portrait) and (max-width: 1600px){

  .gallery a{
    width: 50%;
    }
  #navbar li a {
  }
}
@media screen and (orientation:portrait) and (max-aspect-ratio:8/10){

	#navbar{
		height:12%;
    top:0;
    position: fixed;
    width: 100%;
	}
  .gallery{
    margin-top:12%;
  }
	.gallery a{
		width: 100%;

	}
	#nametitle{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
		width: 70%;
		height: 100%;
    padding: 0;
	}
  #nametitle h1{
    //padding-top: 1.2rem;
  }
	#logo{
		display: none;

	}
  .icon{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    font-size: 3rem;
    color: white;
    text-decoration: none;
    height:100%;
    width: 20%;
    line-height: 100%;
    text-align: center;
  }
  .icon:hover{
    background-color: #222;
  }
	nav{
		display: none;
	}

  #navbar.responsive #nametitle{
    //display: none;
  }
  #navbar.responsive nav{
    width:100%;
    position: fixed;
    left: 0;
    top:12%;
    display:block;
  }
  #navbar.responsive nav a{
    display:block;
    width: 100%;
    font-size: 2rem;
    text-align: left;
    height: 20%;
    padding-left: 10%;
    margin:0;
  }

}
